body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    text-align: center;
    }

.logo{
    padding-top: 0;
    padding-bottom: 0;
    padding-bottom: 0;
    margin-top: 10%;
}

.title {
    text-align: center;
    color: #A02228;
    font-size: 40px;
    padding: auto;
    margin-top: 0;
}

hr {
    height: 2px;
    border: 0;
    background-image: -webkit-linear-gradient(left, #f0eeee, #a02228, #f0eeee);
    background-image: -moz-linear-gradient(left, #f0eeee, #a02228, #f0eeee);
    background-image: -ms-linear-gradient(left, #f0eeee, #a02228, #f0eeee);
    background-image: -o-linear-gradient(left, #f0eeee, #a02228, #f0eeee);
}

.manu-list {
    font-family: "Gill Sans", sans-serif;
    flex-flow: row wrap;
    padding: 5px 7px 5px 7px;
    color: #ffffff;
    background-color: #A02228;
    border-top: 1px solid #e5e5e5;
    font-size: 20px;
    margin-bottom: 30px;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 90px;
}

.manu-list a {
    color: #ffffff;
    display: inline;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 18px;
    margin: 0px;
    text-decoration: none;
    position: relative;
}

.manu-list a:hover {
    background-color: rgb(247, 238, 229);
    border-radius: 50px;
    color: gray;
    padding: 5px 2px 5px 2px;
    
}

.manu-list ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.manu-list ul li{

    width: 120px;
    margin: 15px;
    padding: 15px;
}
.manu-list ul li .sub-menu{
    overflow: hidden;
    padding-left: 50px;
}

.manu-list ul li:hover .sub-menu{
    position: absolute;
    background: #A02228;
    margin-top: 15px;
    margin-left: -20px;
    padding: 0;
}

.manu-list ul li:hover .sub-menu ul{
    display: block;
    margin: 10px;
}
.manu-list ul li:hover .sub-menu ul li{
    width: 150px;
    padding: 10px;
    background: transparent;
    border-radius: 0;
    text-align: left;
    padding-left: 5px;
}

.search-form {  
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.btn-submit-search {
    background-color: #A02228;
    border: none;
    margin: 10px;
    width: 80px;
    height: 30px; 
}
.accent {
    background-color: #A02228;
    border: none;
    margin: 10px;
    width: 80px;
    height: 30px;
}
.btn-view {
	background-color:#A02228;
    text-decoration:none;
    display:inline-block;
	border-radius:30px;
    border:2px solid rgb(222, 202, 94);
	cursor:pointer;
	color:#ffffff;
    padding: 15px 26px;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: small;
}
.btn-buy {
    background-color:#A02228;
    text-decoration:none;
    margin:auto 20px;
	border-radius:30px;
    border:2px solid rgb(222, 202, 94);
	cursor:pointer;
	color:#ffffff;
    padding: 9px 45px;
    font-weight: bold;
    font-size: small;
}
/*.btn-view a:hover{
    background-color: #d44d53;
    color: white;
}*/


input {
    width: 250px;
    height: 30px;
    padding: 10 5px;
}

button {
    background-color: #A02228;
    border: none;
    margin: 10px;
    width: 135px;
    height: 45px;
    border-radius:45px;
    border:2px solid rgb(222, 202, 94);
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: 5;
}

button:hover {
    background-color: #d44d53;
}


footer {
  display: block;
    font-family: "Gill Sans", sans-serif;
    flex-flow: row wrap;
    padding: 30px 30px 20px 30px;
    color: #ffffff;
    background-color: #A02228;
    border-top: 1px solid #e5e5e5;
    font-size: 15px;
    margin-top: 10%;
}

.topic-index h2 {
    padding: 0.5em;
    background: #A02228;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
    color: #ffffff;
    width: 50%;
    border-radius: 8px;
}

.his-lo {
    font-size: 17px;
    text-align: justify;
    padding-right: 60px;
}

.main-main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:flex-start;
    line-height: 1;
    align-content: flex-start;

}
.flex-container{
    
    width: 1100px;
    max-width: 100%;
    flex-flow: row wrap;
    margin: 0 auto;
    margin-top: 30px;
    
}
.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.pro{
    padding: 10px 10px;
    flex: 1 1 21rem;
    margin: 10px 20px;
    box-shadow: 0 0 15px black;
    background-color: antiquewhite;
    border-radius:15px;
}

.pro img{
    height: 15rem;
    border-radius: 15px;
}


button a{
   text-decoration: none;
    color: white; 
}

li{
    list-style: none;
}

.paginate li{
    display: inline;
    margin-right: 30px;
    font-weight: bold;
    font-size: 18px;
    color:#A02228 ;
}

.paginate a{
    text-decoration: none;
}

.paginate a:hover{
    background-color: #F0F5FC;;
    border-radius: 10px;
    color: #d44d53;
    padding: 8px 5px 8px 5px;
}

.img-product-view {
    width: 20%;
}
.user-table{
    width:50%;
    margin-top: 30px;
}

.user-table td:first-child{
    text-align: left;
    font-weight: bold;
}
.search-table{
    margin-left: auto;
    margin-right: auto;
}
.search-table td{
    border: 0;
}
.modal{
    width: 100%;
    /*background-color: rgb(160, 243, 243);*/
    display: flex;
    justify-content: center;
    align-items: center;

}
.modal-content{
    margin-top: 25px;
    display: flex;
    width: 100%;
}
.modal-content img{
    margin-right: 30px;
    width: 20vw;
    height: 20vw;
    border-radius: 10px;  
}
.modal-detail{
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    /*background-color: #d44d53*/;
}

.table-detail{
    text-align: left;
    font-size: 20px;
    width: 100%;
}

.view-table{
    font-size: 18px;
    width: 100%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.img-detail-com {
    width: 50px;
    height: 50px;
}

nav li {
    display: inline;
    margin-left: 8px;
    margin-right: 8px;
}

nav a {
    color: #a02228;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: antiquewhite;
}

.order-completed{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 18px;
}
.detail-completed{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 50%;
    font-size: 18px;
}
.total-price{
    color: rgb(137, 34, 39);
    font-size: 20px;
    font-weight: bold;
}
.cat-name{
    color: rgb(137, 34, 39);
    font-size: 20;
    text-decoration:none;
}
.cart-list{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 50%;
    font-size: 18px;
}
.status {
    text-align: center;
    font-weight: bold;
    color: rgb(23, 204, 23);
    margin-top: 30px;
    margin-bottom: 30px;
    border: solid 3px rgb(180, 132, 11);
    border-radius: 20px;
    padding: 15px;
    display: inline-block;
    font-family: monospace;
    font-size: 14px;
}

.warn{
    color: #e61d60;
}

.ud{
    text-align: right;
    margin-right: 10%;
}

.login-form{
    text-align: left;
    position: absolute;
}
